<n4-editor-file-menu />
<section class="flex flex-row">
  <n4-component-picker class="flex-1" [availableComponents]="availableFlowComponents" />
  <div class="editor-container w-screen h-screen overflow-auto border-solid">
    <div
      class="box-container flex flex-row"
      cdkDrag
      [cdkDragDisabled]="!allowContainerDrag"
    >
      <div
        id="itembox"
        class="item-box box"
        (mousedown)="moveContainer()"
        (mouseup)="moveContainerEnd()"
        [ngStyle]="{
          top: leftBoxPosition.y + 'px',
          left: leftBoxPosition.x + 'px'
        }"
      >
        asd
      </div>
      <div
        id="leftBox"
        #leftBox
        class="box connector-box"
        [ngStyle]="{
          top: leftBoxPosition.y + 'px',
          left: leftBoxPosition.x + 100 + 'px'
        }"
        (mousedown)="onMouseDown('left', $event)"
      >
        P0
      </div>
    </div>
    <!-- [ngStyle]="{
            top: leftBoxPosition.y + 'px',
            left: leftBoxPosition.x + 'px'
          }" -->
    <svg class="svg-overlay">
      <path [attr.d]="pathData" stroke="blue" stroke-width="2" fill="none" />
    </svg>
    <div
      class="box-container flex flex-row"
      cdkDrag
      [cdkDragDisabled]="!allowContainerDrag"
    >
      <div
        id="itembox"
        class="item-box box"
        (mousedown)="moveContainer()"
        (mouseup)="moveContainerEnd()"
        [ngStyle]="{
          top: rightBoxPosition.y + 'px',
          left: rightBoxPosition.x + 30 + 'px'
        }"
      >
        asd
      </div>
      <div
        id="rightBox"
        #rightBox
        class="box connector-box"
        (mousedown)="onMouseDown('right', $event)"
        [ngStyle]="{
          top: rightBoxPosition.y + 'px',
          left: rightBoxPosition.x + 'px'
        }"
      >
        P0
      </div>
    </div>
  </div></section>
