<n4-editor-file-menu />
<section class="flex flex-row">
  <n4-component-picker class="flex-1" [availableComponents]="availableFlowComponents"></n4-component-picker>
  <div class="editor-container w-screen h-screen overflow-auto border-solid" #container>
    <div class="box-container flex flex-row" cdkDrag [cdkDragDisabled]="!allowContainerDrag">
      <div
        id="itembox"
        class="item-box box"
        (mousedown)="moveContainer()"
        (mouseup)="moveContainerEnd()"
        [ngStyle]="{ top: startBoxPosition.y + 'px', left: startBoxPosition.x + 'px' }"
      >
        asd
      </div>
      <div
        id="startPort"
        #startPort
        class="box port"
        [ngStyle]="{ top: startBoxPosition.y + (startBoxPosition.y / 4) + 'px', left: startBoxPosition.x + 100 + 'px' }"
        (mousedown)="onMouseDown('left', $event)"
      >
      </div>
    </div>
    <svg class="svg-overlay">
      <path [attr.d]="pathData" stroke="blue" stroke-width="2" fill="none" />
    </svg>
    <div class="box-container flex flex-row" cdkDrag [cdkDragDisabled]="!allowContainerDrag">
      <div
        id="itembox"
        class="item-box box"
        (mousedown)="moveContainer()"
        (mouseup)="moveContainerEnd()"
        [ngStyle]="{ top: targetBoxPosition.y + 'px', left: targetBoxPosition.x + 'px' }"
      >
        asd
      </div>
      <div
        id="targetPort"
        #targetPort
        class="box port"
        (mousedown)="onMouseDown('right', $event)"
        [ngStyle]="{ top: targetBoxPosition.y + (targetBoxPosition.y / 4) + 'px', left: targetBoxPosition.x  + 'px' }"
      >
      </div>
    </div>
  </div>
</section>
<!-- <section class="flex flex-row">
  <n4-component-picker class="flex-1" [availableComponents]="availableFlowComponents" /> 
  <div class="editor-container w-screen h-screen overflow-auto border-solid" #container>
    <div
      class="box-container flex flex-row"
      cdkDrag
      [cdkDragDisabled]="!allowContainerDrag"
    >
      <div
        id="itembox"
        class="item-box box"
        (mousedown)="moveContainer()"
        (mouseup)="moveContainerEnd()"
        [ngStyle]="{
          top: startBoxPosition.y + 'px',
          left: startBoxPosition.x + 'px'
        }"
      >
        asd
      </div>
      <div
        id="startBox"
        #startBox
        class="box port"
        [ngStyle]="{
          top: startBoxPosition.y + (startBoxPosition.y / 4) + 'px',
          left: startBoxPosition.x + 100 + 'px'
        }"
        (mousedown)="onMouseDown('left', $event)"
      >
      </div>
    </div>  -->
    <!-- [ngStyle]="{
            top: leftBoxPosition.y + 'px',
            left: leftBoxPosition.x + 'px'
          }" -->
     <!-- <svg class="svg-overlay">
      <path [attr.d]="pathData" stroke="blue" stroke-width="2" fill="none" />
    </svg> 
    <div
      class="box-container flex flex-row"
      cdkDrag
      [cdkDragDisabled]="!allowContainerDrag"
    >
      <div
        id="itembox"
        class="item-box box"
        (mousedown)="moveContainer()"
        (mouseup)="moveContainerEnd()"
        [ngStyle]="{
          top: targetBoxPosition.y + 'px',
          left: targetBoxPosition.x + 10 + 'px'
        }"
      >
        asd
      </div>
      <div
        id="targetBox"
        #targetBox
        class="box port"
        (mousedown)="onMouseDown('right', $event)"
        [ngStyle]="{
          top: targetBoxPosition.y + (targetBoxPosition.y / 4) + 'px',
          left: targetBoxPosition.x + 'px'
        }"
      >
      </div>
    </div>
 </div>
</section> -->
<hr>
<n4-rete></n4-rete>