<section class="h-100" cdkDropListGroup>
  <div
    class="z-10 flex flex-col justify-between"
    cdkDropList
    [cdkDropListData]="availableComponents"
    #availableComponentsList="cdkDropList"
  >
    <ul class="flow-component-list" *ngIf="showComponentPicker">
      @for(availableComponent of availableComponents; track availableComponent){
      <li
        id="itembox"
        class="m-2 h-10 component-item solid-1-black p-2"
        cdkDrag
        [cdkDragData]="availableComponent"
        (mousedown)="toggleDropZone(true)"
        (mouseup)="toggleDropZone(false)"
      >
        <span>{{ availableComponent.label }}</span>
      </li>
      }
    </ul>
    <button
      (click)="showComponentPicker = !showComponentPicker"
      class="rounded-btn p-3 m-1"
    >
      Show Items
    </button>
  </div>

  <div
    [ngClass]="{ hidden: !showDropZone }"
    class="drop-zone z-10 flex flex-col justify-center items-center"
    cdkDropList
    [cdkDropListConnectedTo]="[availableComponentsList]"
    (cdkDropListDropped)="drop($event)"
  >
    <p class="text-white">Drop Items here!</p>
  </div>
</section>
